@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4>nasstadnyk</h4>
        <ul>
            <li><a asp-area="" asp-controller="My" asp-action="Index">MyController</a></li>
        </ul>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

