
@{
    ViewData["Title"] = "Biography";
}

<a asp-area="" asp-controller="My" asp-action="Index">back &lt;-</a>
<h1>Biography of The Weekend</h1>
<img src="https://media.pitchfork.com/photos/5e3d7b57159e01000820beb9/2:1/w_790/The-Weeknd.JPG" height="395" width="790" class="right">
Abel Makkonen Tesfaye 
<br>
He was born February 16, 1990
<br>
Known professionally as The Weeknd, is a Canadian singer, songwriter, actor and record producer.
<br>
In 2010, he anonymously uploaded several songs to YouTube under the name "The Weeknd" and released the mixtapes House of Balloons, 
<br>
Thursday, and Echoes of Silence in 2011 which quickly gained him a following and recognition 
<br>
from several mainstream publications due to his dark wave-style of R&B and the mystique surrounding his identity.
