
@{
    ViewData["Title"] = "The Weekend";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the site dedicated to The Weekend</h1>
        <ul>
            <li><a asp-area="" asp-controller="My" asp-action="FirstPages">Go to biography of The Weekend!</a></li>
            <li><a asp-area="" asp-controller="My" asp-action="SecondPages">After Hours</a></li>
            <li><a href="My/Mirror?Mirror=Wow, ur text has been mirrored from ur search bar!">Mirror</a></li>
        </ul>
        <p> </p>
    </div>

