
@{
    ViewData["Title"] = "After Hours";
}

<a asp-area="" asp-controller="My" asp-action="Index">back &lt;-</a>
<h1>Latest album - After Hours</h1>
<img src ="https://upload.wikimedia.org/wikipedia/ru/thumb/c/c1/The_Weeknd_-_After_Hours.png/274px-The_Weeknd_-_After_Hours.png" height="350" width="350" class="right">
"You can find love, fear, friends, enemies, violence,
<br>
dancing, sex, demons, angels, loneliness and togetherness 
<br>
all in the After Hours of the night.” —The Weeknd
<x2>
    <br>
    Track listing
    <ul>
        <li>
            Alone Again
        </li>
        <li>
            Too Late
        </li>
        <li>Hardest To Love</li>
        <li>Scared To Live</li>
        <li>Snowchild</li>
        <li>Escape From LA</li>
        <li>Heartless</li>
        <li>Faith</li>
        <li>Blinding Lights</li>
        <li>In Your Eyes</li>
        <li>Save Your Tears</li>
        <li>Repeat After Me (Interlude)</li>
        <li>After Hours</li>
        <li>
            Until I Bleed Out
        </li>
    </ul>

